#Yocto build directories
build/

#source layers
poky/
meta-arm/
meta-ti/
meta-mender/
meta-ros/
meta-openembedded/

#build artifacts
*.img
*.mender
*.wic
*.rootfs.*
*.tar.*

#IDE and temp files
.vscode/
.idea/
*~
.DS_Store
secrets.env

build/bitbake-cookerdaemon.log
