#Yocto build directories
build/

#source layers
poky/
meta-arm/
meta-ti/
meta-mender/
meta-ros/
meta-openembedded/

#build artifacts
*.img
*.mender
*.wic
*.rootfs.*
*.tar.*

#IDE and temp files
.vscode/
.idea/
*~
.DS_Store
secrets.env

build/bitbake-cookerdaemon.log

# Yocto external layers
poky/
meta-arm/
meta-ti/
meta-mender/
meta-openembedded/
meta-ros/

# Build directory
build/

# Secrets
secrets.env
